@import "tailwindcss";

body {
  background-image: url('https://img.freepik.com/foto-premium/texture-verticali-di-carta-blu-in-polvere-con-macchie-di-rumore_469558-46323.jpg?semt=ais_user_personalization&w=740&q=80');
  background-repeat: repeat;
  background-position: top left;
  background-size: auto;
  min-height: 100vh;
  width: 100%;
}